[submodule "interfaces/common_interfaces"]
	path = interfaces/common_interfaces
	url = https://github.com/ros2/common_interfaces
[submodule "interfaces/rcl_interfaces"]
	path = interfaces/rcl_interfaces
	url = https://github.com/ros2/rcl_interfaces
[submodule "interfaces/unique_identifier_msgs"]
	path = interfaces/unique_identifier_msgs
	url = https://github.com/ros2/unique_identifier_msgs
[submodule "interfaces/control_msgs"]
	path = interfaces/control_msgs
	url = https://github.com/ros-controls/control_msgs
[submodule "interfaces/navigation_msgs"]
	path = interfaces/navigation_msgs
	url = https://github.com/ros-planning/navigation_msgs
[submodule "interfaces/geometry2"]
	path = interfaces/geometry2
	url = https://github.com/ros2/geometry2
